body {
  width: 90%;
}

header {
  justify-content: center;
  align-items: center;
  flex-direction: row wrap;
  width: 100%;
}

section {
  display: flex;
  flex-flow: row wrap;
}

div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  height: 20vw;
  width: 20vw;
}
